<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/css/blogSingle.css" />
    <link rel="stylesheet" type="text/css" href="/css/theme.css" />
    <script src="/js/generic.js"></script>
    <title><%= website_name %> | <%= blog_post.title %></title>
  </head>
  <body>
    <%- include("partials/header.ejs", {selected: 'home'}) %>

    <div class="page">
      <!-- TODO: Check if user is the owner or an admin -->
      <!-- TODO: Confirmation before deleting post -->
      <%if(logged_in_user) {%>
      <div class="blog-admin">
        <div class="horizontal-button-container">
          <a id="delete-post" href="#" class="bad"><span>Delete Post</span></a>
          <a class="yellow" href="/blog/<%=blog_post.id %>/edit"><span>Edit Post</span></a>
        </div>
      </div>

      <%}%>
      <div class="title"><%= blog_post.title%></div>

      <%- blog_post.content %>
    </div>

    <%- include("partials/footer.ejs") %>
  </body>
</html>

<script defer src="/js/blogSingle.js"></script>
