<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/css/index.css" />
    <link rel="stylesheet" type="text/css" href="/css/theme.css" />
    <link rel="stylesheet" type="text/css" href="/css/blog-list.css" />
    <script src="/js/generic.js"></script>
    <title><%= website_name %> | Home</title>
  </head>
  <body>
    <%- include("partials/header.ejs", {selected: 'home'}) %>

    <div class="page">
      <%if(logged_in_user) {%> <%- include("partials/blog-admin.ejs") %> <%}%>
      <!--  -->
      <% for(post of blog_list) { %>
      <!--  -->
      <%- include("partials/blog-entry.ejs", {post:post}) %>
      <!--  -->
      <% } %> <%- include("partials/pagination.ejs") %>
    </div>

    <%- include("partials/footer.ejs") %>
  </body>
</html>
