<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/css/blogNew.css" />
    <link rel="stylesheet" type="text/css" href="/css/theme.css" />
    <script src="/js/generic.js"></script>
    <title><%= website_name %> | New Blog</title>
  </head>
  <body>
    <%- include("partials/header.ejs", {selected: 'home'}) %>

    <div class="page">
      <div class="e-header">
        <div class="e-thumbnail">
          <%if(existing_blog?.thumbnail) {%>
          <img src="<%= existing_blog?.thumbnail %>" />
          <%} else {%>
          <img src="/img/.dev/square.png" />
          <% } %>
        </div>
        <div class="e-description">
          <input id="title" type="text" placeholder="Title..." value="<%= existing_blog.title %>" />
          <textarea id="description" placeholder="Description..."><%= existing_blog.description %></textarea>
        </div>
      </div>

      <div class="e-image-area">
        <% if(existing_blog.raw_images?.length) { %> <% for (image in existing_blog.raw_images) {%>
        <div class="image">
          <img data-image_id="<%=existing_blog.raw_images[image]%>" src="<%= existing_blog.images[image] %>" />
          <div><a onclick="deleteImage('<%= existing_blog.raw_images[image] %>')">X</a></div>
        </div>
        <%}%> <% } else {%>
        <div class="placeholder">Drop images here</div>
        <% } %>
      </div>

      <div class="e-content">
        <div class="text-actions">
          <div class="left">
            <a id="insert-h1"><span>H1</span></a>
            <a id="insert-h2"><span>H2</span></a>
            <a id="insert-h3"><span>H3</span></a>
            <a id="insert-h4"><span>H4</span></a>
            <a id="insert-underline">
              <span><u>U</u></span>
            </a>
            <a id="insert-italics">
              <span><i>i</i></span>
            </a>
            <a id="insert-bold">
              <span><strong>B</strong></span>
            </a>
            <a id="insert-strike">
              <span><del>S</del></span>
            </a>
            <a id="insert-sup">
              <span><sup>Sup</sup></span>
            </a>
          </div>
          <div class="right">
            <a id="insert-sidebyside"><img src="/img/textarea/sidebyside.svg" /></a>
            <a id="insert-video"><img src="/img/textarea/video.svg" /></a>
          </div>
        </div>
        <textarea id="content" placeholder="Tell us about your subject..."><%= existing_blog.raw_content %></textarea>
      </div>
      <div class="e-tags">
        <input id="tags" type="text" placeholder="Enter a comma separated list of tags" value="<%= existing_blog.tags %>" />
      </div>
      <div class="e-settings">
        <div class="publish-date">
          <div>Publish On</div>
          <% if(existing_blog.publish_date) {%>
          <input id="date" type="date" value="<%= existing_blog.publish_date %>" />
          <%} else { %>
          <input id="date" type="date" value="1990-01-01" />
          <% } %>
          <!--  -->
          <% if(existing_blog.publish_date) {%>
          <input id="time" type="time" value="<%= existing_blog.publish_time %>" />
          <%} else { %>
          <input id="time" type="time" value="13:00" />
          <% } %>
        </div>
      </div>
      <div class="e-settings">
        <div class="horizontal-buttons">
          <button onclick="publishBlog(true)" class="yellow"><span>Unlisted</span></button>
          <% if(existing_blog.id){%>
          <button onclick="publishBlog(false, true)"><span>Edit</span></button>
          <% } else {%>
          <button onclick="publishBlog()"><span>Publish</span></button>
          <% } %>
        </div>
      </div>
    </div>

    <%- include("partials/footer.ejs") %>
  </body>
</html>

<script defer src="/js/newBlog.js"></script>
